# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Data (los archivos de datos no se suben a git)
data/raw/*.csv
data/bronze/*.parquet
data/silver/*.parquet
data/gold/*.parquet

# Mantener las carpetas vacías en git
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# Logs
logs/
*.log

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
